@layer base {

	::selection {
		@apply bg-brand bg-opacity-20;
	}

	/* --- */

	* {
		@apply select-none;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-ms-user-select: none;

		/* !outline-none  */
		/* &:focus-visible {
			box-shadow: inset 0px 0px 0px 1px red;
		} */
  }

  html,
	body {
		@apply h-full overflow-x-hidden;
  }

	body {
		@apply text-gray-700 font-dana;
	}

  b,
	strong {
		@apply font-semibold;
	}

	svg {
		@apply w-4 h-4;
	}

}
